

    #inline li {
      display: inline;
      padding-left: 10px;
      padding-right: 10px;
      padding-bottom: 10px;
      }


      html {

        background: red; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left top, red, yellow); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom right, red, yellow); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom right, red, yellow); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to bottom right, red, yellow); /* Standard syntax */
      }
      body {
        text-align: center;
        /*display: flex;
        justify-content: center;*/
      }
      .center {
    margin: auto;
    width: 50%;
    padding: 10px;
  }

  h2{
    border-top: 2px solid black;
    border-bottom: 4px solid black;
  }

  .textLeft {
    text-align: left;
  }
